<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- 扩展支持 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 日志输出目标 -->
  <targets>
    <!-- 打印所有日志(含微软组件日志)  -->
    <!--<target xsi:type="File" name="allfile" fileName="Log\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <!-- 打印自身日志(含asp.net core请求组件格式化) -->
    <target xsi:type="File" name="comLog" fileName="Log\log-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <!-- 日志规则 -->
  <rules>
    <!-- 全部日志 -->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <!-- 含命名空间Microsoft下所有类中的日志 -->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
    
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="comLog" />
  </rules>
</nlog>